
/* ------------ Home section css start ------------ */
.home {
    background-color: #ffffff;
    padding: 80px 0;
}

.home .content h1 {
    font-size: 72px;
    color: #333;
}

.home .content p {
    font-size: 15px;
    color: #666;
    margin-top: auto;
}

.home .image img {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}

.home .image .btn {
    background-color: #424B5A;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.home .image .btn-secondary {
    background-color: #424B5A;
}

.home .image .btn:hover {
    background-color: #5C715E;
}

.navbar-brand img {
    width: 100px; 
    height: 60px; 

}

/* ------------ Home section css end ------------ */

/* ------------ Info section css start ------------ */
.info-section {
    background-color: #f7f7f7;
    padding: 30px 0;
}

.container h2{
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
    transform: translateY(-10px);
    background-color: #dcf5de; /* Ganti warna latar belakang saat di-hover */
}


.card .card-img-top{
    max-width: 25%;
    margin: 0 auto; 
    display: block; 
    padding-top: 30px;
}

.card-body {
    padding: 0px;
}

.card-title {
    font-size: 20px;
    color: #333;
}

.card-text {
    font-size: 16px;
    color: #666;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.link-opacity-100 {
    color: #333; 
    transition: color 0.3s; 
}

.link-opacity-100:hover {
    color: #5C715E;
}

/* ------------ Info section css end ------------ */

/* ------------ about section css start ------------ */
.about-section {
    background-color: #ffffff;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-about {
    display: flex;
    flex-direction: row;
}

.container img {
    max-width: 80%; /* Mengisi lebar sesuai kebutuhan */
    height: auto;
    border-radius: 5%;
}

.content {
    flex: 1;
    padding: 10px; /* Atur jarak antara teks dan gambar */
    max-width: 100%; /* Mengisi lebar sesuai kebutuhan */
}

.content h1 {
    font-size: 50px;
    color: #333;
    margin-bottom: 20px;
}

.content p {
    font-size: 15px;
    color: #666;
    margin-top: 20px; 
    max-width: 100%; 
}

.icons {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    max-width: 65%; 
}

.icon {
    text-align: center;
}

.icon img {
    width: 30px;
    height: 30px;
}

.icon p {
    margin-top: 10px;
}

/* ------------ about section css end ------------ */


/* ------------ our partner section css start ------------ */
.our-partners {
    background-color: #f7f7f7;
    padding: 10px 0;
    text-align: center;
}

.our-partners .container {
    max-width: 1200px;
}

.our-partners h2 {
    font-size: 45px;
    color: #333;
    margin-bottom: 10px;
}


.partners {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.partner {
    margin: 9px;
    width: 14%;
}

.partner img {
    max-width: 100%;
    height: auto;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    padding: 9px;
}

/* ------------ our partner section css end ------------ */


/* ------------ article section css start ------------ */



/* ------------ article section css end ------------ */
